DB_CONNECTION=mysql

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=base
DB_USERNAME=root
DB_PWD=1234567890
DB_PASSWORD=1234567890
DB_ROOT_PWD="1234567890"

MYSQL_IMG="mysql:8.0"
MYSQL_RESTART="always"
MYSQL_CONTAINER_IMG="mysql"
MYSQL_CONTAINER_NAME="mysql"
MYSQL_ALLOW_EMPTY_PASSWORD="no"
MYSQL_ROOT_PASSWORD="1234567890"
#MYSQL_USER=""
MYSQL_PASSWORD="1234567890"
MYSQL_DATABASE="base"

PMA_IMAGE="phpmyadmin/phpmyadmin"
PMA_CONTAINER_NAME="phpmyadmin"
PMA_HOST="mysql"
PMA_PORT="8080"
PMA_RESTART="always"
